# for the most part, each sub-project has its own .gitignore

/.vscode
/.envrc
/node_modules


/scripts/deploy_frontend.sh
/docs/notes/private.md
example_bots_src/wanderer/.cache
engine/rsc/lib/wasmbots_validator.wasm
