html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: rgb(64, 64, 64);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
	box-sizing: border-box;
}

a, a:visited {
	color: rgb(116, 236, 116);
}

code {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}

/* fixes the iOS landscape problem with UI chrome */
@supports (-webkit-touch-callout: none) {
	body {
		height: -webkit-fill-available;
	}
}
