html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: rgb(64, 64, 64);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
	box-sizing: border-box;
}

/* fixes the iOS landscape problem with UI chrome */
@supports (-webkit-touch-callout: none) {
	body {
		height: -webkit-fill-available;
	}
}
